/* fonts */
@import url('https: //fonts.googleapis.com/css?family_Montserrat:300,400,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Montserrat&family=Nothing+You+Could+Do&display=swap');


/* color palet */
:root {  
    --header-black: rgb(6,1,-0);
    --tech-black-seethru1: rgb(6,1,-0, 0.6);
    --tech-black-seethru2: rgb(6,1,-0, 0.8);
    --dark-background: rgb(20, 20, 20);
    --medium-background: rgb(30, 30, 30);
    --light-background: rgb(40, 40, 40);
    --light-gray: rgb(60, 60, 60);
    --dark-gray: rgb(46, 46, 46);
    --light-blue: rgb(121,212,255);
    --red: rgb(235,33,0);
    --blue: rgb(47,118,238);
    --bold-orange: rgb(237, 77, 38);
    --pale-orange: rgb(225, 179, 114);
    --muted-orange: rgb(205, 122, 96);
    --purple: rgb(117, 88, 139);
    --bold-yellow: rgb(245, 192, 0);
    --bold-green:rgb(89, 172, 30);
    --white-text:  rgb(255, 255, 255);
    --light-text:  rgb(183, 183, 183);
    --medium-text:  rgb(150, 150, 150);
    --dark-text:  rgb(80, 80, 80);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

body {
background-color: var(--header-black);
}

/* navbar styling */
.navbar {
    background: var(--header-black);
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-evenly;
    height: 90px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar_logo {
    color: red;
    display: flex;
    align-items: center;
    cursor: grab;
    text-decoration: none;
    font-size: 2rem;
    max-width: 500px;
}

#logo {
    max-height: 80px;
}
.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    color: #fff;
    display: flex;
    width: auto;
    white-space: nowrap;
    font-family: 'Cinzel', serif;

    padding: 10px;
    margin: 3px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar_links:hover {
    color: red;
    transition: all 0.3s ease;
}

/* FUTURE FEATURE: production unit submenu section */
/* .prod_units-menuLink {
    
}
.prod_units-menuLink:hover {
    
}
.prod_units_subMenu {
    display: flex;
    align-items: center;
    list-style: none;
    background: green;
}
.trailer_toggle {
    
} */
/* end production unit submenu section */


.call-now {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: red;
    color: var(--header-black);
}


.btn:hover {
    color: #fff;
}

@media screen and (max-width: 960px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar_menu.active {
        background: var(--header-black);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 995;
        height: 60vh;
        font-size: 1.6rem;
        width: 100%;
    }
    
    .navbar_logo {
        padding-left: 25px;
    }

    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar_item {
        width: 100%;
    }


    .navbar_links {
        text-align: center;
        padding: 1rem;
        display: table; 
        width: 100%;
    }

    .call-now {
        padding: 1rem;
        background: var(--header-black);
    }
    
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 80%;
        margin: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 27%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar {
        height: 70px;
    }
    .navbar_container {
        height: 65px;
    }
    .navbar_logo {
        max-width: 500px;
    }
    #logo {
        max-height: 55px;
    }
    .navbar_item {
        height: 50px;
    }

    ol, ul {
        padding-left: 0rem;
    }


}
/* end navbar styling */


/* welcome styling */
.welcome {
    background: linear-gradient(to bottom, var(--header-black) 12%, var(--light-background) 50%);
    padding: 2rem 0 3rem 0;
    height: auto !important;
    min-height: 100%;
    


}

.welcome_container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 20px;
}

.welcome_content {
    color: #fff;
    width: 100%;
    align-self: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 20px;

}

.welcome_content2 {
    color: var(--light-text);
    width: 100%;
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 1;
    width: 100%;
    padding: 0px 20px 0px 20px;
    margin-top: 20px;
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    max-width: 890px;
    justify-content: center;
}
.tiles p{
    padding-left: 20px;
    font-size: 1.2rem;
    color: #fff;
    font-weight: bold;;

}
.tiles p i{
    color: red;
    margin-right: 0px;
    font-size: 1.5rem;
}

.welcome_content2 p {
    max-width: 890px;
    font-size: 1.5rem;
    font-weight: 70;
}


.iframe-container {
    width: 100%;
    max-width: 900px;
    padding-bottom: 15px;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
}

.iframe-container iframe {
    top: 0;
    left: 0;
    width: 100%;
    max-width: 896px;
    height: auto;
    justify-self: center;
    aspect-ratio: 16 / 9;
}



.welcome_btns-container {
    height: 10vw;
    max-height: 40px;
    display: flex;
    justify-content: space-evenly;
    max-width: 890px;
    width: 100%;
    justify-self: center;
    
}

.vid_btn{
    font-size: 1.8rem;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin: 0 10px;
    cursor: pointer;
    position: relative;
    outline: none; 
    background: red;
    width: 100%;
    min-width: 35px;
    
    height: 7vw;
    min-height: 30px;
    max-height: 45px;
    
    transition: .2s ease transform;
}


.vid_btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.vid_btn a i{
    margin: 2px 0;
}

.vid_btn:hover {
    border: .5px solid #fff;
    transform: scale(1.05);
}

.vid_btn:hover:after{
    width: 100%;
}

.welcome_content h1{
    font-size: 3rem;
    margin-bottom: 20px;
    color: #fff;
}

.welcome_content p{
    font-size: 1.5rem;
    margin: 20px 10px;
    font-weight: 70;
    justify-self: center;
    max-width: 850px;
}



@media screen and (max-width: 1100px) {
    .welcome {
        padding: 2rem 0;
    }

    .welcome_container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 95%;
    }


    .welcome_content {
        text-align: center;
        margin-bottom: 1.3rem;
    }
    .welcome_content h1 {
        font-size: 2rem;
    }
    .welcome_content h2 {
        font-size: 2rem;
    }
    .welcome_content p {
        font-size: .9rem;
        margin-bottom: 0px;
    }
    .welcome_content a {
        font-size: .9rem;
    }
    
    .vid_btn {
        align-items: center;
        height: 50px;
    }
    .vid_btn a i {
        align-self: center;
        margin: 2px 0;
        font-size: 1.2rem;

    }

    .tiles {
        padding-top: 2px;
        padding-bottom: 2px;
        display: flex;
        flex-wrap: wrap;
        max-width: 400px;
        justify-content: center;
    }
    .tiles p{
        font-size: 1.2rem;
        color: #fff;
        font-weight: bold;;
    
    }
    .tiles p i{
        color: red;
        margin-right: 0px;
        font-size: 1.1rem;
    }
    
    .welcome_content2 p {
        max-width: 890px;
        font-size: 1.1rem;
        font-weight: 70;
    }

}

@media screen and (max-width: 480px) {
    .welcome {
        padding: 2rem 0;
    }
    .welcome_content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }
    .welcome_content h2 {
        font-size: 2rem;
    }
    .welcome_content p {
        font-size: 1.5rem;
        margin-bottom: 0px;

        /* margin-top: 1.5rem; */
    }

}
/* end welcome styling */






/* prod_units styling */
.prod_units {
    /* background: var(--dark-background); */
    background: linear-gradient(to bottom, #fff, var(--light-text));
    padding: 8rem 2rem;

}

.prod_units_container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
}

.prod_units_content {
    color: black;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    padding: 10px 50px;

}


    /* start carousel css */
.carousel {
    width: 100%;
    height: 100%;
    max-height: 500px;
    max-width: 1300px;
    padding-bottom: 15px;
    justify-self: center;
    background-size: cover;

}



.carousel1_container, .carousel2_container {
    margin: 20px;
    max-width: 900px;
    min-width: 300px;
    width: 100%;
    justify-self: center;
    padding-bottom: 20px;
    
}


.carousel-item {
    /* height: 32rem; */
    
    /* width: 100%;
    height: 100%;
    max-height: 500px;
    max-width: 1300px;
    background: var(--header-black);
    background-size: cover; */

    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* max-height: 60vh; */
    aspect-ratio: 16 / 9;


    position: relative;
}

p a {
    text-decoration: none;
    color: var(--header-black);
}
p a:hover {
    color: red;
}



.carousel-item img{
    height: 100%;
    max-height: 500px;
    min-height: 200px;
    width: 100%;
    max-width: 1300px;
    min-width: 300px;
}

.carousel-caption {
    align-self: right;
    color:red;
}


    /* end start carousel css */

.prod_units_content h1{
    /* font-size: 2rem;
    margin-bottom: 32px;
     */
    font-size: 3rem;
    margin-bottom: 20px;
    color: black;
    justify-self: center;
    font-family: 'Cinzel', serif;

}

.prod_units_content h2{
    font-size: 4rem;
    justify-self: center;
    margin-top: 25px;
    font-family: 'Nothing You Could Do', cursive;
    font-weight: bold;

}
.prod_units_content p{
    font-size: 1.5rem;
    margin: 20px 10px;
    font-weight: 70;
    justify-self: center;
    max-width: 850px;
    text-align: center;
}




@media screen and (max-width: 1100px) {
    .prod_units {
        padding: 6rem 2rem;
    }
    
    .prod_units_container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90%;
    }

    .prod_units_content {
        text-align: center;
        margin-bottom: 4rem;
    }
    .prod_units_content h1 {
        font-size: 2.5rem;
        margin: 1.3rem 0.5rem;
    }
    .prod_units_content h2 {
        font-size: 2.6rem;
        margin: 0.5rem 0.5rem;

    }
    .prod_units_content p {
        font-size: 1rem;
        margin: 0.5rem 1rem;

    }


}

/* end prod_units styling */


.highlight {
    border-bottom: 4px solid red;
}


.main_btn{
    font-size: 1.8rem;
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none; 
    background: red;
}


.main_btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}
.main_btn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: chartreuse;
    transition: all 0.35s;
    border-radius: 4px;
}


.main_btn:hover:after{
    width: 100%;
}

.section2_img-container {
    text-align: center;
}


.fa-layer-group, .fa-users {
    font-size: 14rem;
}


@media screen and (max-width: 480px) {
    .fa-users, .fa-layer-group {
        font-size: 4rem;
    }

    .main_btn{
        padding: 12px 36px;
        margin: 2.5rem 0;

    }
    
}
/* end section2 styling */


/* tech styling */
.tech {
    background-image:
        linear-gradient(to bottom, var(--tech-black-seethru2),var(--tech-black-seethru1)),
        url("imgs/background/Opera-Background-Speaker.jpg");
    background-size: cover;
    height: auto !important;
    min-height: 100%;
    padding: 10rem 0;
}

.tech_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tech h1{
    font-size: 3rem;
    margin-bottom: 2px;
    color: #fff;
    justify-self: center;
    font-family: 'Cinzel', serif;

    
}

.tech h2{
    font-size: 2.5rem;
    justify-self: center;
    margin: 10px 20px 0 20px;
    color: #fff;
    text-align: center;

}

.tech_content p{
    color: #fff;
    font-weight: bold;
    font-size: 2.1rem;
    margin: 0px 20px 50px 20px;
    text-align: center;
}

.tech .subHeading {
    color: red;
    font-family: 'Nothing You Could Do', cursive;
    font-weight: bold;

}
.tech_wrapper p{
    font-size: 1.5rem;
    margin: 20px 10px 0px 10px;
    font-weight: 70;
    justify-self: center;
    max-width: 850px;
    text-align: center;
}

.tech_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tech_card {
    margin: 20px;
    height: 425px;
    width: 300px;
    border-radius: 8px;
    border: .1px solid var(--header-black);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--header-black);
    background-image: linear-gradient(to bottom, #fff 0%, var(--light-text) 100%);
    transition: 0.3s ease-in;
}

.tech_card h2{
    text-align: center;
    color: var(--header-black);
    color: red;
    font-family: 'Cinzel', serif;

}

.tech_card p{
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
    color: var(--header-black);
}

.tech_card div{
    display: flex;
    justify-content: center;

}

.tiles2 {
    display: flex;
    flex-wrap: wrap;
    max-width: 890px;
    justify-content: center;
}
.tiles2 p{
    font-size: 1rem;
    margin: 0px 10px;
    text-align: center;

}
.tiles2 p i{
    color: red;
    font-size: 1.5rem;
}


.card_btn {
    display: flex;
    justify-content: center;    
    margin-top: 16px;
}

@media screen and (max-width: 1300px) {
    .tech_wrapper {
        grid-template-columns: 1fr 1fr;
    }
    .tech h1{
        font-size: 2.5rem;
        margin-bottom: 2px;
        justify-self: center;
        font-family: 'Cinzel', serif;
    
        
    }
    
    .tech h2{
        font-size: 2.2rem;
        justify-self: center;
        margin: 10px 20px 0 20px;
        text-align: center;
    
    }
    
    .tech_content p{
        font-weight: bold;
        font-size: 1rem;
        margin: 12px 8px;
        text-align: center;
    }

    .tech_card {
        margin: 20px;
        height: auto;
        width: 300px;
        border-radius: 8px;
        border: .1px solid var(--header-black);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: var(--header-black);
        background-image: linear-gradient(to bottom, #fff 0%, var(--light-text) 100%);
        transition: 0.3s ease-in;
    }
    
    .tech_card h2{
        text-align: center;
        color: var(--header-black);
        color: red;
        font-family: 'Cinzel', serif;
    
    }
    
    .tech_card p{
        text-align: center;
        margin-top: 5px;
        font-size: 15px;
        color: var(--header-black);
    }
    
    .tech_card div{
        display: flex;
        justify-content: center;
    
    }
    
    .tiles2 {
        display: flex;
        flex-wrap: wrap;
        max-width: 350px;
        justify-content: center;
    }
    .tiles2 p{
        font-size: 1rem;
        margin: 0px 10px;
        text-align: center;    
    }
    .tiles2 p i{
        color: red;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 768px) {
    .tech_wrapper {
        grid-template-columns: 1fr;
    }
}
/* end tech styling */


/* credits styling */
.credits {
    background: linear-gradient(to bottom, var(--header-black), var(--dark-background));
    padding: 10rem 1rem 5rem 1rem;
    
    height: auto !important;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.credits h1{
    font-size: 3rem;
    margin-bottom: 2px;
    color: #fff;
    justify-self: center;
    font-family: 'Cinzel', serif;
}

.credits h2{
    font-size: 2.5rem;
    justify-self: center;
    margin-top: 10px;
    color: #fff;
}

.credits .subHeading {
    color: red;
    font-family: 'Nothing You Could Do', cursive;
    font-weight: bold;
}
.credits p{
    font-size: 1.5rem;
    margin: 20px 10px;
    font-weight: 70;
    justify-self: center;
    max-width: 1250px;
    text-align: center;
    color: #fff;
}

.credits_container {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto 10px auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.credits_content {
    color: #fff;
    width: 100%;
    min-width: 200px;
    max-width: 400px;
    margin: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* margin-top: 20px; */
    /* align-items: center; */
}

.credits_content h1{
    padding: 10px 20px;
    font-family: 'Cinzel', serif;
    
    
    font-size: 2rem;
    /* margin: 2px 5px; */
    font-weight: 70;
    justify-self: center;
    align-self: center;
    text-align: center;
    color: #fff;
}
.credits_content p{
    font-size: 1.2rem;
    margin: 2px 5px;
    font-weight: 70;
    justify-self: center;
    text-align: center;
    color: #fff;
}


.credits p a{
    text-decoration: none;
    color: red;
    margin-top: 50px;
}


.credits_img-container {
    text-align: center;
}

.credits_img-card {
    margin: 10px;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(to right, cyan 0%, peachpuff 100%);
}

#card-2 {
    background-image: linear-gradient(to right, cyan 0%, lime 100%);
}

@media screen and (max-width: 1100px) {
    .credits h1{
        font-size: 2.5rem;
        margin-bottom: 2px;     
    }
    
    .credits h2{
        font-size: 2.2rem;
        justify-self: center;
        margin-top: 10px;
    }
    
    .credits p{
        font-size: 1rem;
        margin: 20px 10px;
        font-weight: 70;
        justify-self: center;
        max-width: 1250px;
        text-align: center;
    }

    .credits_container {
        display: flex;
        /* align-items: center; */
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto 10px auto;
        height: 90%;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0 50px;
    }
    
    .credits_content {
        color: #fff;
        width: 100%;
        min-width: 200px;
        max-width: 400px;
        margin: 15px 15px;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .credits_img-container {
        display: flex;
        justify-content: center;
    }
    .credits_img-card {
        height: 425px;
        width: 425px;
    }
    .credits_content {
        text-align: center;
        margin-bottom: 2rem;
    }
    .credits_content h1 {
        font-size: 1.8rem;
        margin: 0rem;

    }
    .credits_content h2 {
        font-size: 2.2rem;
    }
    .credits_content p {
        font-size: 1rem;
        margin-top: 0rem;
    }

}
/* end credits styling */



/* footer styling */
.footer {
    background-color: var(--header-black);
    padding: 1.3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer_logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer_links {
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer_link-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer_link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px 30px;
    text-align: left;
    width: auto;
    box-sizing: border-box;
}

.footer_link-items h2{
    margin-bottom: 16px;
    color: #fff;
}
.footer_link-items a{
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: #fff;
    transition: 0.3 ease-out;
}
.footer_link-items a:hover{
    color: red;
    transition: 0.3 ease-out;
}

.social_icon_link {
    color: #fff;
    font-size: 24px;
}

.social_media {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
}

.social_media p {
    margin-bottom: 0;
}

.social_media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.website_rights {
    color: #fff;
}

@media screen and (max-width: 1100px) {
    .footer {
        min-width: 350px;
    }
    .footer_links {
        padding-top: 1.5;
    }
    #footer_logo {
        margin-bottom: 1.5;
    }
    .social_media {
        margin-bottom: 1.5;
    }
    .footer_link-wrapper {
        flex-direction: column;
    }
    .social_media-wrap {
        flex-direction: column;
    }

    #footer_logo {

        font-size: 1.5rem;
    }
    
    .footer_link-items {

        margin: 10px 15px;
    }
    
    .social_icon_link {
        font-size: 24px;
    }
    
    .social_media {
        max-width: 1000px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 5px;
    }
    
    .social_media p {
        margin-bottom: 0;
    }

    .social_icon_link {
        font-size: 1.2rem;
    }
    
    .social_media-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        max-width: 1000px;
        margin: 40px auto 0 auto;
    }
    
    .social_icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 240px;
    }
    
}

@media screen and (max-width: 480px) {
    .footer_links-items {
        margin: 0;
        padding: 12px;
        width: 100%;
    }
}
/* end footer styling */
